.btnContainer {
    width: 100px;
    z-index: 5;
    position: absolute;
    right: 0;
    margin-top: -10px;
    
}

.languageSelect {
    border: none;
    background-color: rgba(55, 72, 99, 0.2);
    font-size: 30px;
}