.navbar {
  width: 100%;
  height: 8%;
  position: fixed;
  background-color: #374863;
  display: flex;
  z-index: 10;
  top: 0;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
}

.navbarText {
  margin: auto;
  font-weight: 700;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  color: #e7e5d6;
}

.navbarText:hover {
  cursor: pointer;
}

.navbarTextActive {
  
  border-bottom: solid 1px #c1cba4;
  margin: auto;
  font-size: 1.3rem;
  font-weight:700;
  font-family: "Roboto", sans-serif;
  color: #c1cba4;
  filter: drop-shadow(0 0 0.75rem #c1cba4);
  
}


