.cardContainer {
  width: 85vw;
  height: auto;
  margin: 3vh auto;
  border-radius: 15%;
  background-color: rgba(55, 72, 99, 0.5);
  padding: 0.5em;
  position: relative;
  box-shadow: 0 10px 35px rgba(193, 203, 164, 0.25),
  0 -12px 30px rgba(193, 203, 164, 0.12), 
  0 4px 6px rgba(193, 203, 164, 0.12),
  0 12px 13px rgba(193, 203, 164, 0.17), 
  0 -3px 5px rgba(193, 203, 164, 0.09);
}

.cardTitle {
  font-size: 1.7em;
  color: #e7e5d6;
  margin: 0.5em;
  font-weight: bold;
}

.logo {
  height: 30%;
  max-width: 30%;
  margin: 1em;
  float: left;
}

.description {
  color: #e7e5d6;
  font-size: 0.7em;
  text-align: justify;
  margin-top: 5vh;
}

.specs {
  margin: 8vh auto 2vh 3vw;
  color: #e7e5d6;
  font-size: 0.8em;
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .cardContainer {
    width: 25vw;
    height: 45vh;
  }

  .description {
    margin: 3vh 1vw auto auto;
  }

  .specs {
    margin: 6vh 2vw 1vh 3vw;
  }

  .logo {
    height: 10vh;
    max-width: auto;
  }

  .cardTitle {
    margin: 0.2em;
  }
}
